.AddForm {
  margin: 30px auto;
  margin-top: 10px;
  min-width: 400px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(0 0 0 / 10%);
  padding: 10px 25px;
}

.AddForm button {
  margin: 10px auto;
}

.Booklist {
  padding-right: 25px;
  border-right: 1px solid lightgray;
}
